extends layout

block content 

  h1= title 
    h2 
      | Are you sure you want to delete 
      em= book.title
      | ?
  form(action=`/books/${book.id}/delete`, method="post")
      a.button(href=`/books/${book.id}`) No, thanks  
      | 
      input(type="submit", value = "Yes, I am")